# Ejemplo de variables de entorno para crear la conexión con la Base de Datos
DB_USER=admin
DB_PASSWORD=password
DB_NAME=db_name

# Seguridad JWT
JWT_SECRET=una_clave_secreta_larga_y_segura_de_al_menos_256_bits
JWT_EXPIRATION=86400000
